$primary-color: #ffffff;
$accent-color: #2196f3;
$second-color: #f5f4fa;
$main-font: "Roboto", sans-serif;
$accent-font: "Raleway", sans-serif;
$primary-text-color: #757575;
$second-text-color: #212121;
$footer-background: #2f303a;
